<nav class="nav justify-content-between d-flex">
  <div class="left-links">
    <%= link_to "新規投稿", new_admin_post_path, class: "nav-item" %>
  </div>
</nav>

<div class="main">
  <table class="table table-borderless">
    <thead>
      <tr>
        <td>投稿日</td>
        <td>タイトル</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.created_at.strftime("%Y-%m-%d") %></td>
          <td><%= link_to post.title, edit_admin_post_path(post) %></td>
          <td><%= link_to "削除", admin_post_path(post), data: { turbo_method: :delete } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
