.mb-3
  table.table.table-borderless.mb-5
    tbody
      - posts.each do |post|
        tr
          td= link_to post.title, post_path(post), class: "link fs-3"
          td.date= l(post.created_at.to_date)
  - if pagy.pages > 1
    .d-flex.justify-content-center
      == pagy.series_nav(:bootstrap)
