- set_meta_tags title: @post.title
.container
  .post-date
    = l(@post.created_at.to_date)
  .main
    .article
      .post-title
        h2= @post.title
      .post-body
        = @post.rendered_body  
      .post-tag
        - @post.tag_names.each do |tag|
          = link_to tag, tag_path(tag), class: "badge bg-secondary me-1"

  = render "navigation", post: @post 
